<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <script src="https://kit.fontawesome.com/023814cd38.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <h1>Welcome to Bookers !</h1>

  </body>

</html>

