<h1>投稿一覧</h1>

<% @reviews.each do |review| %>

  <p>タイトル</p>
  <!--<span>-->
    <%#= review.review_title %>
  <!--</span>-->
  <!--<span>-->
    <%#= review.review_body %>
  <!--</span>-->

  <!--<span>-->
    <%#= link_to review.review_title, "/reviews/#{review.id}" %>
  <!--</span>-->
  <!--<span>-->
    <%#= link_to review.review_body, "/reviews/#{review.id}" %>
  <!--</span>-->

  <span>
    <%= link_to review.review_title, review_path(review.id) %>
  </span>
  <span>
    <%= link_to review.review_body, review_path(review.id) %>
  </span>

  <p>画像</p>

  <% if review.image.attached? %>
    <%= image_tag review.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
  <% end %>

<% end %>